.logo-img {
  width: 40px;
  height: 40px;
}

.profile-img {
  width: 100%;
  max-width: 600px;
}

.home {
  margin: 50px;
  display: flex;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-profile {
  width: 80%;
}

.section-content {
  justify-content: center;
}

.section-content h1 {
  font-size: 60px;
}

.section-content h3 {
  font-size: 30px;
}

.logo-img-container img {
  margin-right: 20px;

}
